/*FUENTES*/

/*botones*/
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Text:ital@0;1&family=Edu+VIC+WA+NT+Beginner:wght@400..700&family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    background-color: rgba(248,249,250,1);
}

h1 {
    font-size: 35px;
    margin: 15px;
}

main {
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
}

/*SEARCH BAR*/
.container-search {
    display: flex;
    flex-wrap: wrap;
    justify-content: left;
    padding: 5px;
    margin-left: 15px;
}

.form-control {
    width: 950px;
}

/*BOTONES CATEGORÍAS*/
.category-buttons {
    margin: 15px;
    z-index: initial;
}

button {
    height: 100%;
    width: auto;

    padding: 10px;
    margin: 5px;
}

.category-btn {
    cursor: pointer;
    transition: transform 0.25s ease-in, opacity 0.25s ease-in, filter 0.25s ease-in; 
    &:hover {
        transform: scale(1.02);
    }
}
/*ease-in: comenzará lentamente y luego se acelerará.*/

.category-buttons:has(.category-btn:hover) .category-btn:not(:hover) {
    transform: scale(0.8);
    opacity: 0.8;
    filter: blur(4px);
}
/*.category-buttons:has(...) selecciona (.category-buttons) solo si contiene al menos un .category-btn que está siendo hovered.*/
/*.category-btn:not(:hover): Selecciona todos los botones de categoría (.category-btn) dentro del contenedor que NO están siendo hovered.*/

.category-btn {
    border-radius: 5px;
    border-style: none;
    background-color:  rgb(46, 50, 49);
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    font-weight: 400;;
    color: white;
}

/*LOADER*/

.lds-roller,
.lds-roller div,
.lds-roller div:after {
  box-sizing: border-box;
}
.lds-roller {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-roller div {
  animation: lds-roller 1.2s cubic-bezier(0.5, 0, 0.5, 1) infinite;
  transform-origin: 40px 40px;
}
.lds-roller div:after {
  content: " ";
  display: block;
  position: absolute;
  width: 7.2px;
  height: 7.2px;
  border-radius: 50%;
  background: currentColor;
  margin: -3.6px 0 0 -3.6px;
}
.lds-roller div:nth-child(1) {
  animation-delay: -0.036s;
}
.lds-roller div:nth-child(1):after {
  top: 62.62742px;
  left: 62.62742px;
}
.lds-roller div:nth-child(2) {
  animation-delay: -0.072s;
}
.lds-roller div:nth-child(2):after {
  top: 67.71281px;
  left: 56px;
}
.lds-roller div:nth-child(3) {
  animation-delay: -0.108s;
}
.lds-roller div:nth-child(3):after {
  top: 70.90963px;
  left: 48.28221px;
}
.lds-roller div:nth-child(4) {
  animation-delay: -0.144s;
}
.lds-roller div:nth-child(4):after {
  top: 72px;
  left: 40px;
}
.lds-roller div:nth-child(5) {
  animation-delay: -0.18s;
}
.lds-roller div:nth-child(5):after {
  top: 70.90963px;
  left: 31.71779px;
}
.lds-roller div:nth-child(6) {
  animation-delay: -0.216s;
}
.lds-roller div:nth-child(6):after {
  top: 67.71281px;
  left: 24px;
}
.lds-roller div:nth-child(7) {
  animation-delay: -0.252s;
}
.lds-roller div:nth-child(7):after {
  top: 62.62742px;
  left: 17.37258px;
}
.lds-roller div:nth-child(8) {
  animation-delay: -0.288s;
}
.lds-roller div:nth-child(8):after {
  top: 56px;
  left: 12.28719px;
}
@keyframes lds-roller {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/*DIV LOADING*/
.loading {
    display: flex;
    justify-content: center;
}

/*PRODUCT-LISTS*/

.product-list {
    display: flex;
    justify-content: center;
    flex-direction: column;
}

.col-4 {
    margin-top: 10px;
    margin-bottom: 10px;
}

