
body {
    background-color: rgba(248,249,250,1);
}
.mainBar {
    margin-bottom: 15px;
    padding-left: 10px;
    padding-bottom: 10px;

    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

.NavBarFunctions {
    margin: 0;
    display: flex;
    flex-wrap: nowrap;
}

.cartas {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}